<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>
      Previsão
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <app-error-message 
          *ngIf="errorMessage" 
          [message]="errorMessage" 
          buttonText="Voltar" 
          (buttonClicked)="onBack()">
        </app-error-message>
        
        <div *ngIf="!errorMessage && weather && city">
          <p>{{ city.name }} | {{currentDate}}</p>
          <div class="temperature">
            {{ weather.currentTemp | number: '1.0-0' }}<sup><small>ºC</small></sup>
          </div>
          <img src="assets/tempestade.png" />
          <h3>{{ weather.details[0].conditionDesc | uppercase }}</h3>
          <p>☂ {{weather.details[0].pop | number: '1.0-0'}}% | ♨ {{weather?.details[0].humidity | number: '1.0-0'}}%</p>
          <ion-button color="success" (click)="onDetails()"> Ver Detalhes </ion-button>
          <ion-button color="warning" (click)="onBack()"> Voltar </ion-button>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>