ion-searchbar {
    --box-shadow: none;
}

ion-grid,
ion-row {
    width: 100%;
    height: 100%;
}

.temperature {
    text-align: center;
    font-weight: bold;
    font-size: 3.6em;
}

ion-button {
    --box-shadow: none;
    width: 200px;
}